// common css
*,*::before,*::after {
    margin: 0;
}

img {
    object-fit: cover;
    width: 100%;
}

// header
#nav-drawer {
    position: relative;
}

/*チェックボックス等は非表示に*/
.nav-hide {
    display:none;
}

/*アイコンのスペース*/
#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    position: fixed;
    vertical-align: middle;
    right: 2%;
    top: 2%;
    z-index: 10;
    &:before {
        content: "";
        position: fixed;
        top: 0%;
        right: 0%;
        background: $darkTxtSub;
        width: 7%;
        height: 7%;
        border-radius: 0 0 0 5vh;
        max-width: 95px;
        min-width: 65px;
        cursor: pointer;
    }
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
}
#nav-open span:before {
bottom: -8px;
}
#nav-open span:after {
bottom: -16px;
}

// https://www.asobou.co.jp/blog/web/css-menu
/*閉じる用の薄黒箇所*/
#nav-close {
    display: none;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    backdrop-filter: blur(100px);
    opacity: 0;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
  
  /*メニューの中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    width: 90%;
    max-width: 450px;
    height: 100%;
    background: #fff;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
    & ul {
        height:90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        & li {
            padding: 3vw 0;
            font-weight: bold;
            font-size: $underTtl;
            & a {
                text-decoration: none;
                color: $contentsSubTtl;
            }
        }
    }
}
  
  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  
  .header-logo-menu{
   display: flex;
   display: -moz-flex;
   display: -o-flex;
   display: -webkit-flex;
   display: -ms-flex;
   flex-direction: row;
   -moz-flex-direction: row;
   -o-flex-direction: row;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
  }

// mv
.main-visual {
    position: relative;
    background: linear-gradient(45deg, $waveBgFirst,$waveBcSecond);
    background-size: 200% 200%;
    animation: bggradient 20s ease infinite;
    height: auto;
    &__ttl {
        font-family: $enFont;
        padding-top: 10.5vh;
        margin: 0 auto;
        & .mv__ttlWrap {
            & h1 {
                color: $darkTxt;
                font-size: $mvTtl;
                & .mv__ttlBold {
                    display: inline-block;
                    font-weight: $mvTtlWeight;
                }
            }
        }
        & .mv__snsWrap {
            display: flex;
            align-items: baseline;
            flex-flow: row wrap;
            color: $darkTxtSub;
            & h3 {
                z-index: 3;
            }
            & .mv__snsBox {
                z-index: 3;
                & ul {
                    display: flex;
                    padding-left: 20px;
                    & li {
                        list-style-type: none;
                        & a {
                            & .my-big {
                                transition: all .3s ease;
                                font-size: 2.35em;
                                margin-right: 20px;
                                color: $darkTxtSub;
                            }
                        }
                        &:hover {
                            & a {
                                & .my-big {
                                    color: $darkTxt;
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    & .waveBox {
        position: relative;
        top: -1%;
        height: 275px;
        &__wave {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0%;
            & svg {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: fit-content;
                & path {
                    fill: $darkTxt;
                }
            }
        }
    }
}

// Who I am
.about {
    &__ttl {
        margin-bottom: $underTtl;
        text-align: center;
        position: relative;
        left: -40%;
    }
    &__contents {
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: flex-end;
        position: relative;
        & .textWrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 3vw;
            min-height: 29.9rem;
            height: 100%;
            > h3 {
                padding-bottom: $underH3;
                color: $waveBcSecond;
                font-weight: $h3ttlWeight;
            }
            > p {
                line-height: $pc-lineHeight;
                display: block;
            }
        }
        & .myPhoto {
            margin: 0 auto;
            background: linear-gradient(45deg, $darkTxtSub,$waveBgFirst);
            display: inline-block;
            border-radius: 61% 38% 62% 39% / 26% 49% 51% 75%;
            height: 100%;
            box-shadow: 11px 10px 0px 5px $darkTxtSub;
            & img {
                margin: 0 auto;
                display:block;
                width: 100%;
                max-height: 18.9rem;
                height: 100%;
                object-position: 100% 0;
                border-radius: 61% 38% 62% 39% / 26% 49% 51% 75%;
            }
        }
    }
}


// Skills & Tools
.skillBox {
    position: relative;
    height: auto;
    padding: 5rem 0;
    margin-bottom: 5rem;
    &__ttl {
        text-align: center;
        margin-bottom: $underTtl;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 10%;
        bottom: 0;
        background-color: $darkTxtSub;
        border-radius: 0 20vh 20vh 0;
        opacity: .75;
        z-index: -1;
        transform: translateX(-100%);

    }
    &__contents {
        & .textWrap {
            padding-bottom: $underH3;
            > h3 {
                padding-bottom: $underH3;
                color: $waveBcSecond;
                font-weight: $h3ttlWeight;
            }
        }
        & .contentsWrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            & .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                // margin: 0 3.5vw 1.35em 0;
                margin: 0 9ch 1.35em 0;
                align-self: center;
                > i {
                    color: $contentsMainTtl;
                }
                > .devicon {
                    &:before {
                        font-size: 4em;
                    }
                }
                > svg {
                    width: 4em;
                    height: 4em;
                }
            }
        }
    }
}

// Work
.workBox {
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    &__ttl {
        position: relative;
        text-align: center;
        & .ttWrap {
            margin-bottom: $underTtl;
            right: 10%;
        }
        & .textWrap {
            text-align: justify;
            padding: 0 $underTtl $underTtl $underTtl;
        }
        & .swiper-btns {
            text-align: left;
            padding-bottom: $underTtl;
            & .arrow {
                position: relative;
                display: inline-block;
                padding-left: $underTtl;
            }
            & .swiper-button-next, .swiper-button-prev {
                width: auto;
                color: $contentsMainTtl;
                z-index: 0;
            }
            & .swiper-button-next:after, .swiper-button-prev:after {
                font-size: 15px;
                font-weight: bold;
                background: $darkTxtSub;
                border-radius: 100%;
                padding: 20px 25px;
            }
        }
    }
    &__contents {
        & .swiper {
            width: 100%;
            height: 300px;
          }
        & .swiper-wrapper {
            & .swiper-slide a {
                text-decoration: none;
                color: $contentsMainTtl;
            }
            & .swiper-slide a .slider-caption {
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 95%;
                overflow: hidden;
            }
            & .swiper-slide img{
                border-radius: 5vh;
                height: 100%;
                max-height: 251px;
                box-shadow: rgba(0,0,0,.3) 0px 3px 5px;
                margin-bottom: $underH3;
            }
        }
    }
}

// Title
.about .about__ttl,
.skillBox .skillBox__ttl,
.workBox .workBox__ttl {
    & .ttWrap {
        & .ttlWrap__sub {
            color: $contentsSubTtl;
        }
        & .ttlWrap__main {
            position: relative;
            display: inline-block;
            color: $contentsMainTtl;
            overflow: hidden;
            vertical-align: bottom;
            margin-bottom: 0 !important;
            height: 100%;
            padding-bottom: 3px;
            > span {
                animation: showTxt .35s ease-out forwards;
                overflow: hidden;
                line-height: .9;
                transform: translateY(100%);
                display: inline-block;
                margin-bottom: -3%;
            }
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: calc(100% - 4px);
                border-bottom: 4px solid;
                border-color: $contentsMainTtl;
                top: 10%;
            }
        }
    }
}

// Footer
footer {
    position: relative;
    background: linear-gradient(45deg, $waveBgFirst,$waveBcSecond);
    background-size: 200% 200%;
    animation: bggradient 20s ease infinite;
    overflow: hidden;
    & .contactBox {
        position: relative;
        z-index: 1;
        &__ttl {
            top: 5rem;
        }
        &__contents {
            top: 9rem;
        }
        &__contents,
        &__ttl {
            position: absolute;
            right: 0;
        }
    }
    & .waveBox__wave {
        top: 0;
    }
    & .waveBox {
        position: relative;
        top: 0%;
        height: 300px;
        &__wave {
            position: absolute;
            top: -5%;
            left: 0;
            width: 100%;
            height: 0%;
            & svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: fit-content;
                & path {
                    fill: $darkTxt;
                }
            }
        }
    }
}

// Slide-in animation
.about__contents {
    transform: translateY(50px);
    opacity: 0;
}
.about__contents.is-active {
    transition: .65s cubic-bezier(0.78, 0.68, 0, 0.7);
    transform: translateY(0);
    opacity: 1;
}
.skillBox.is-active {
    &:before {
        transition: 1s cubic-bezier(0.78, 0.68, 0, 0.7);
        transform: translateX(0);
    }
}


// Animations
@keyframes bggradient{
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

@keyframes showTxt {
    100% {
        transform: translateY(10%);
    }
}