// header
#nav-content {
    width: 75%;
    & ul {
        & li {
            font-size: 1.5rem;
        }
    }
}

// mv
.main-visual {
    &__ttl {
        padding-top: 10vw;
        & .mv__ttlWrap {
            & h1 {
                font-size: $mvTtlSm;
            }
        }
        & .mv__snsWrap {
            & .mv__snsBox ul {
                padding-left: 0;
                & li a .my-big {
                    font-size: 2.9em;
                }
            }
        }
    }
    & .waveBox {
        height: 80px;
    }
}

// Who I am
.about {
    &__contents {
        & .textWrap {
            padding: 2rem 0vw;
            > p {
                line-height: $sm-lineHeight;
            }
        }
        & .myPhoto {
            position: relative;
            & img {
                max-height: 15.9rem;
                min-width: 15.9rem;
            }
        }
    }
}

// Skills & Tools
.skillBox {
    &:before {
        right: 0;
        transform: translateX(0);
        border-radius: 0;
    }
    &__contents {
        & .contentsWrap {
            & .item {
                margin: 0 3.5vw 1.35em 0 !important;
            }
        }
    }
}

// Title
.about .about__ttl,
.skillBox .skillBox__ttl {
    & .ttWrap {
        & .ttlWrap__main {
            padding-bottom: 0 !important;
            > span {
                transform: translateY(80%);
                line-height: 0.9;
                margin-bottom: -3%;
            }
            &:before {
                height: calc(100% - 0px);
                top: 3% !important;
            }
        }
    }
}

// Footer
footer {
    & .waveBox__wave {
        top: 0;
    }
    & .contactBox {
        &__ttl {
            right: initial;
            left: 0;
        }
    }
}

// Slide-in animation
.skillBox.is-active {
    &:before {
        transform: none;
        border-radius: 0 20vh 20vh 0;
    }
}