// mv
.main-visual {
    &__ttl {
        padding-top: 10vw;
        & .mv__ttlWrap {
            & h1 {
                font-size: $mvTtlSm;
            }
        }
    }
    & .waveBox {
        height: 80px;
    }
}