// mv
.main-visual {
    &__ttl {
        padding-top: 8.5vh;
        & .mv__ttlWrap {
            & h1 {
                font-size: $mvTtlTb;
            }
        }
    }
    & .waveBox {
        height: 150px;
    }
}

// Who I am
.about {
    &__contents {
        flex-direction: column-reverse;
        & .textWrap {
            padding: 0;
        }
    }
}

// Work
.workBox {
    flex-direction: column;
    &__ttl {
        margin: 0 auto;
        & .ttWrap {
            position: static;
            right: 0%;
        }
    }
}

// Title
.about .about__ttl,
.skillBox .skillBox__ttl,
.workBox .workBox__ttl {
    text-align: left;
    left: 0%;
}