// mv
.main-visual {
    height: 45vh;
    &__ttl {
        padding-top: 10.5vh;
        & .mv__ttlWrap {
            & h1 {
                font-size: $mvTtlTb;
            }
        }
    }
}

// wave
.waveBox {
    &__wave {
        top: calc(125vh / 4) !important;
    }
}