// colors (color, background)
$baseBc: #fff;
$waveBgFirst: #F0C27B;
$waveBcSecond: #4B1248;
$darkTxt: #fffffe;
$darkTxtSub: #eaddcf;

// font-styles
$enFont: 'Mada', sans-serif;
$jpFont: 'M PLUS Rounded 1c', sans-serif;
$mvTtl: 4.5em;
$mvTtlTb: 3.0em;
$mvTtlSm: 2.0em;
$ttl: 2.5em;
$mvTtlWeight: bold;
$ttlWWeight: bold;