// --common color  (color, background)--
$waveBgFirst: #F0C27B;
$waveBcSecond: #4B1248;
$darkTxt: #ffffff;
$darkTxtSub: #eaddcf;
$contentsMainTtl: #716040;
$contentsSubTtl: #8c7851;

// font-styles
$enFont: 'Mada', sans-serif;
$jpFont: 'M PLUS Rounded 1c', sans-serif;
$mvTtl: 4.5em;
$mvTtlTb: 3.0em;
$mvTtlSm: 2.0em;
$ttl: 2.5em;
$mvTtlWeight: bold;
$ttlWWeight: bold;

// common
$pc-lineHeight: 1.55;
$sm-lineHeight: 1.85;
$underH3: 1rem;
$underTtl: 2rem;