*, *::before, *::after {
  margin: 0;
}

.main-visual {
  position: relative;
  background: linear-gradient(45deg, #F0C27B, #4B1248);
  -webkit-animation: bggradient 20s ease infinite;
          animation: bggradient 20s ease infinite;
  background-size: 200% 200%;
  height: 55vh;
}

.main-visual__ttl {
  font-family: "Mada", sans-serif;
  padding-top: 7.5vh;
  margin: 0 auto;
}

.main-visual__ttl .mv__ttlWrap h1 {
  color: #fffffe;
  font-size: 4.5em;
}

.main-visual__ttl .mv__ttlWrap h1 .mv__ttlBold {
  display: inline-block;
  font-weight: bold;
}

.main-visual__ttl .mv__snsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  color: #eaddcf;
}

.main-visual__ttl .mv__snsWrap .mv__snsBox {
  z-index: 3;
}

.main-visual__ttl .mv__snsWrap .mv__snsBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: .9vw;
}

.main-visual__ttl .mv__snsWrap .mv__snsBox ul li {
  list-style-type: none;
}

.main-visual__ttl .mv__snsWrap .mv__snsBox ul li a .my-big {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 1.55em;
  margin-right: 15px;
  color: #eaddcf;
}

.main-visual__ttl .mv__snsWrap .mv__snsBox ul li:hover a .my-big {
  color: #fffffe;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.waveBox .waveBox__wave {
  position: absolute;
  top: calc(64vh / 4);
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 1;
}

.waveBox .waveBox__wave svg path {
  fill: #fff;
}

.about {
  margin: 3vw auto 0 auto;
  position: relative;
}

.skillBox {
  margin: 0 auto;
}

@-webkit-keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1086px) {
  .main-visual {
    height: 45vh;
  }
  .main-visual__ttl {
    padding-top: 10.5vh;
  }
  .main-visual__ttl .mv__ttlWrap h1 {
    font-size: 3em;
  }
  .waveBox__wave {
    top: calc(125vh / 4) !important;
  }
}

@media (max-width: 576px) {
  .main-visual {
    height: 30.5vh !important;
  }
  .main-visual__ttl {
    padding-top: 4.5vh;
  }
  .main-visual__ttl .mv__ttlWrap h1 {
    font-size: 2em;
  }
  .waveBox__wave {
    top: calc(86vh / 4) !important;
  }
}

@media (max-width: 1680px) {
  .waveBox__wave {
    top: calc(80vh / 4) !important;
  }
}

@media (max-width: 1500px) {
  .waveBox__wave {
    top: calc(105vh / 4) !important;
  }
}

@media (max-width: 1280px) {
  .waveBox__wave {
    top: calc(120vh / 4) !important;
  }
}

@media (max-height: 668px) {
  .main-visual {
    height: 33.5vh !important;
  }
}

@media (max-width: 1280px) and (max-height: 800px) {
  .main-visual {
    height: 63vh !important;
  }
}

@media (max-width: 540px) and (max-height: 720px) {
  .main-visual {
    height: 36.5vh !important;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .main-visual {
    height: 33.5vh !important;
  }
}

@media (max-width: 360px) and (max-height: 740px) {
  .main-visual {
    height: 32vh !important;
  }
}
/*# sourceMappingURL=style.css.map */